{% extends "website/layout.html" %}

{% block body %}

<!-- first bar-->

<div class="container-fluid text-center p-4  bg-dark text-light">
    <h3 style="font-weight: bold;">About Prathibha Solutions</h3></div>
    <div class="container-fluid text-center pb-3 bg-dark text-light">
    <h6 style="color:gray;text-align: center;padding-bottom: 10px;">Home    /
    <font color="green">About Prathibha Solutions</font></h6>
  </div><br>

<!--second block-->

  <div class="container-fluid">
    <div class="row">
       <div class="col-md-3 p-5">
          <h5 style="font-family: Georgia;text-align: center;color: gray;">Get To Know</h5><br>
            <h4 style="font-family: Georgia;text-align: center;">All About Us!</h4><h5 style="text-align:center;">_ _ _</h5>
             
          </div>
        <div class="col-md-9 p-5">
           <p>Welcome to <font style="color: grey;font-size: larger;"> Prathibha Solutions </font>, where innovation
             meets technology to shape the digital world. We are a dynamic and forward-thinking software web solutions
              startup dedicated to redefining the digital landscape. Our journey 
            began with a vision to simplify complexities, and our passion for cutting-edge technology drives
             us forward. </p>
            </p><p> In an era where change is constant, we are your partners in progress, navigating the digital
               frontier. Our dedication to innovation, user-centric design, and reliable solutions sets us apart.
                We invite you to join us on this exciting journey, where your aspirations and our expertise converge 
                to create a brighter digital future. Explore the limitless possibilities with Prathibha Solutions.</p>
            </p>
        
      
           <div class="col-md-12 p-1">
            <h4 style="text-align:left ;">Values</h4>
            <ul >
            <li> <b>Quality:</b> Strive for excellence 
              in every aspect of software development, ensuring reliability, security, and user satisfaction.
            </li><li><b>Adaptability:</b> Embrace change and be agile in 
              responding to evolving industry trends and client requirements.
            </li><li>  <b>Continuous Improvement:</b> Commit to ongoing self-assessment and
               improvement, both individually and as a company, to drive growth and progress.</h4>
            </li>
        </ul>
    </div>
  </div>
      </div>
    </div>


<!-- third block-->
    
     <div class="container-fluid">
               <div class="row">
                  <div class="col-md-6">
                    <img src="https://c0.wallpaperflare.com/preview/804/920/863/analysis-coffee-communication-connection.jpg" width="100%" height="96%">
                  </div>
                  <div class="col-md-6 ">
                    <h4 style="font-size: xx-larger;"><b>
                       Prathibha Solutions</b></h4>
                     <p style="padding-right: 1cm; color: gray">We believe in the transformative power of software. Whether 
                      it's developing intuitive web applications, creating stunning websites, or architecting scalable solutions,
                       we are committed to delivering excellence. Our client-centric approach ensures that every project is a 
                       collaborative endeavor, tailored to meet your unique needs and aspirations. We are not just about lines
                        of code;
                       we are about crafting experiences that resonate with your audience and drive your success.
                      <ul style="padding-right: 1cm; color: gray">

                      <li>Cost effective solution</li>
                      <li>Strong analytical skills and data-driven thinking</li>
                      <li> Superior maintenance services and high Customer Satisfaction</li>
                      <li> Strong interpersonal, written, verbal communication skills 
                      with an ability to multi-task</li>
                      <li> Guaranteed industry standard protocols and services provided</li>
                      <li> Development knowledge on different Frameworks and
                       technologies</li>
                       <li> 365 days Service Support.</li>
                    </ul>
                  </p>
                  </div>
                
                </div>
                </div>
              </div>
          

<!-- third block-->


{% endblock %}

