{% extends "website/layout.html" %}

{% block body %}

<!-- first bar-->

<div class="container-fluid text-center p-4  bg-dark text-light">
    <h3 style="font-weight: bold;">Mobile App Development</h3></div>
    <div class="container-fluid text-center pb-3 bg-dark text-light">
    <h6 style="color:gray;text-align: center;padding-bottom: 10px;"> Home /
    <font color="gray"> Application And Software Development</font> / <font style="color:green;"> Mobile App Development</font></h6>
  </div><br>

  <!--second-->
  <div class="container-fluid text-center p-4 ">
    <h3 style="font-family: Geneva, "> Design And Development</h3><p style="font-family: Georgia">
       Do More With Online</p><h5 style="text-align:center;">_ _ _</h5>
      </div>

      <div class="container-fluid p-5">
        <p style="color: gray;">How important are the smartphone applications in the day to day world
             today? Consider your own situation of having a few of your favourite applications on your 
             smartphone. If you did not have these, how likely were you to open them on the web?

            Applications installed in the smartphones become a choice over other competitor applications.
             Likewise, to help your business become a top choice among your customers, Web Solutions 
             India is here to develop Android and iOS applications for you.
            
            It is important not just to develop an application but also to ensure its compatibility with
             different devices. We develop both Android and iOS friendly applications custom designed 
             assuring the most enhanced experience to the users. Be it an e-Commerce app, product
              catalogue, a blog format application, organisers/reminder type application or a different
               requirement, we have got you covered!</p></div>
<!--end-->
{% endblock %}




