{% extends "website/layout.html" %}

{% block body %}

<!-- first bar-->

<div class="container-fluid text-center p-4  bg-dark text-light">
    <h3 style="font-weight: bold;">Astrology Service Software</h3></div>
    <div class="container-fluid text-center pb-3 bg-dark text-light">
    <h6 style="color:gray;text-align: center;padding-bottom: 10px;"> Home /
    <font color="green">Our Products</font>/<font style="color:green;">Astrology Service Software</font></h6>
  </div><br>

  <!--second-->
  <div class="container-fluid text-center p-4 ">
    <h3 style="font-family: Geneva, ">All About Astrology Service Software
        </h3><p style="font-family: Georgia">Our Efforts Your Success
        </p><h5 style="text-align:center;">_ _ _</h5>
      </div>

      <div class="container-fluid p-5">
        <p style="color: gray;">Astrology application facilitates astrology services to the users on a daily, weekly and monthly basis. As per their usage, you can opt for different subscriptions. This software has panels namely Admin (Web) and User (Mobile App). Admin panel enhances operations like data uploading, user management and creation/updating of packages etc. User panel lets an easy registration, package selection and the different services to the users accordingly.
<br><br>
            Features Of Admin<br><br>
            
            1. Information on daily soul foods<br>
            2. Daily, weekly and monthly energy predictions<br>
            3. Guided meditation and everyday affirmations<br>
            4. Daily and monthly horoscope; and<br>
            5. Regular podcast.</p></div>
<!--end-->
{% endblock %}




