{% extends "website/layout.html" %}

{% block body %}

<!-- first bar-->

<div class="container-fluid text-center p-4  bg-dark text-light">
    <h3 style="font-weight: bold;">Corporate Identity</h3></div>
    <div class="container-fluid text-center pb-3 bg-dark text-light">
    <h6 style="color:gray;text-align: center;padding-bottom: 10px;"> Home /
    <font color="gray"> Graphic Design and Branding</font> / <font style="color:green;"> Making creativity work for you</font></h6>
  </div><br>

  <!--second-->
  <div class="container-fluid text-center p-4 ">
    <h3 style="font-family: Geneva, "> 
        Conceptual Logo Design</h3><p style="font-family: Georgia">
          Defining Excellence, Inspiring Trust</p><h5 style="text-align:center;">_ _ _</h5>
      </div>

      <div class="container-fluid p-5">
        <p style="color: gray;">A conceptual logo design is a visual representation that goes beyond the surface 
            and delves into the core values, philosophy, or unique attributes of a brand, company, or organization.
             It aims to convey a deeper, abstract message or story that resonates with the target audience. In such
              a design, the choice of colors,
             shapes, symbols, and typography is carefully considered to create a distinct and memorable identity.</p></div>
<!--end-->
{% endblock %}




