{% extends "website/layout.html" %}

{% block body %}

<!-- first bar-->

<div class="container-fluid text-center p-4  bg-dark text-light">
    <h3 style="font-weight: bold;">Content Writing</h3></div>
    <div class="container-fluid text-center pb-3 bg-dark text-light">
    <h6 style="color:gray;text-align: center;padding-bottom: 10px;"> Home /
    <font style="color:green;">Content Writing</font></h6>
  </div><br>

  <!--second-->
  <div class="container-fluid text-center p-4 ">
    <h3 style="font-family: Geneva, ">Content Writing</h3><p style="font-family: Georgia">
      Elevating Ideas, One Word at a Time<h5 style="text-align:center;">_ _ _</h5>
      </div>

      <div class="container-fluid p-5">
        <p style="color: gray;">Content writing is the craft of creating written material for various purposes
           and platforms. It involves the art of effectively conveying information, ideas, or stories through words.
            Content writers are skilled in tailoring their writing to meet the specific needs and objectives of their
             target audience, whether it's informative blog posts, engaging social media updates, persuasive
              marketing copy, or in-depth research articles. Their work encompasses not only the text but also 
              the structure, style, and tone that best align with the desired message and audience. Content writing
               is the backbone of digital communication, driving engagement, informing, persuading, and entertaining
                readers, all
           while adhering to the principles of clarity, relevance, and search engine optimization for online content.</p></div>
<!--end-->
{% endblock %}

