{% extends "website/layout.html" %}

{% block body %}

<!-- first bar-->

<div class="container-fluid text-center p-4  bg-dark text-light">
    <h3 style="font-weight: bold;">Corporate Identity</h3></div>
    <div class="container-fluid text-center pb-3 bg-dark text-light">
    <h6 style="color:gray;text-align: center;padding-bottom: 10px;"> Home /
    <font color="gray"> Graphic Design and Branding</font> / <font style="color:green;"> Making creativity work for you</font></h6>
  </div><br>

  <!--second-->
  <div class="container-fluid text-center p-4 ">
    <h3 style="font-family: Geneva, "> 
        Corporate Identity</h3><p style="font-family: Georgia">
          Defining Excellence, Inspiring Trust</p><h5 style="text-align:center;">_ _ _</h5>
      </div>

      <div class="container-fluid p-5">
        <p style="color: gray;">Corporate identity refers to the distinct and consistent visual and verbal 
          elements that collectively define a company's image and brand in the eyes of its audience. It encompasses
           the visual aspects, such as logos, color schemes, typography, and design elements, as well as the verbal 
           components, including the company's name, slogan, and messaging. Corporate identity is a fundamental 
          aspect of branding, influencing how a company is perceived, recognized, and remembered.</p></div>
<!--end-->
{% endblock %}




