{% extends "website/layout.html" %}

{% block body %}

<!-- first bar-->

<div class="container-fluid text-center p-4  bg-dark text-light">
    <h3 style="font-weight: bold;">CRM & ERP Software Development</h3></div>
    <div class="container-fluid text-center pb-3 bg-dark text-light">
    <h6 style="color:gray;text-align: center;padding-bottom: 10px;"> Home /
    <font color="green">Online Business Support</font>/<font style="color:green;">CRM & ERP Software Development</font></h6>
  </div><br>

  <!--second-->
  <div class="container-fluid text-center p-4 ">
    <h3 style="font-family: Geneva, ">CRM & ERP Software Development</h3><p style="font-family: Georgia">
        Do More With Online</p><h5 style="text-align:center;">_ _ _</h5>
      </div>

      <div class="container-fluid p-5">
        <p style="color: gray;">Wondering what can make your business improve when you have all your
             services at par? Most of the times, it is about understanding and analysing the service 
             delivery by measuring what is more profitable and what is not. The ERP system helps a 
             business in controlling tasks and engagements effectively. We deliver comprehensive ERP 
             software that can easily help a business analyse the scope, time and cost of an engagement.
             Likewise, we offer CRM software development service to manage your customers. Automation of 
             CRM helps in optimising your customers' experiences with the actual web or phone 
             applications. For example, it helps in the membership management, gifts and offers, loyalty
              programs, etc.

            Get a beautifully built, value for money CRM and ERP solutions for your business today!
            </p>
            </div>
<!--end-->
{% endblock %}




