{% extends "website/layout.html" %}

{% block body %}

<!-- first bar-->

<div class="container-fluid text-center p-4  bg-dark text-light">
    <h3 style="font-weight: bold;">Customised Software Development</h3></div>
    <div class="container-fluid text-center pb-3 bg-dark text-light">
    <h6 style="color:gray;text-align: center;padding-bottom: 10px;"> Home /
    <font color="gray"> Applications and Software Development</font> / <font style="color:green;"> 
        Customised Software Development   </font></h6>
  </div><br>

  <!--second-->
  <div class="container-fluid text-center p-4 ">
    <h3 style="font-family: Geneva, ">Customised Software Development</h3><p style="font-family: Georgia">
        Developing Application To Automate Your Work</p><h5 style="text-align:center;">_ _ _</h5>
      </div>

      <div class="container-fluid p-5">
        <p style="color: gray;">There exists innumerable software in the market. But do they cater to 
            your business needs? If your business has something unique and interesting to offer, then it
             might be really difficult for you to get a software catering your exact needs. However, 
             worry not. Web Solutions India is here to develop software to solve your business concerns 
             and get the firm to a much more efficient level. Enhanced flexibility, tailored support and
              maintenance and minimum information security risks are some of the features that define our
               customised software development services.</p></div>
<!--end-->
{% endblock %}




