{% extends "website/layout.html" %}

{% block body %}

<!-- first bar-->

<div class="container-fluid text-center p-4  bg-dark text-light">
    <h3 style="font-weight: bold;">Enquiry Lead Management Software</h3></div>
    <div class="container-fluid text-center pb-3 bg-dark text-light">
    <h6 style="color:gray;text-align: center;padding-bottom: 10px;"> Home /
    <font color="green">Our Products</font>/<font style="color:green;">Enquiry Lead Management Software</font></h6>
  </div><br>

  <!--second-->
  <div class="container-fluid text-center p-4 ">
    <h3 style="font-family: Geneva, ">All About Enquiry Lead Management Software
        </h3><p style="font-family: Georgia">Connecting Questions with Answers, Seamlessly
        </p><h5 style="text-align:center;">_ _ _</h5>
      </div>

      <div class="container-fluid p-5">
        <p style="color: gray;">An enquiry website is a digital platform designed to facilitate the process 
          of seeking information or making inquiries on specific topics, services, or products. It serves as
           a user-friendly interface where visitors can ask questions, request details, or express interest in 
           a particular subject. These websites often include contact forms, chatbots, or other communication 
           tools that enable users to interact with the website's administrators or support team. Enquiry websites
            are particularly valuable for businesses, organizations, or institutions looking to streamline
            communication with their audience, gather feedback, and address inquiries promptly. They enhance
           customer service and foster engagement by making it easy for visitors to get the information they 
           need.</p></div>
<!--end-->
{% endblock %}




