{% extends "website/layout.html" %}

{% block body %}

<!-- first bar-->

<div class="container-fluid text-center p-4  bg-dark text-light">
    <h3 style="font-weight: bold;">Food Ordering System</h3></div>
    <div class="container-fluid text-center pb-3 bg-dark text-light">
    <h6 style="color:gray;text-align: center;padding-bottom: 10px;"> Home /
    <font color="green">Our Products</font>/<font style="color:green;">Food Ordering System</font></h6>
  </div><br>

  <!--second-->
  <div class="container-fluid text-center p-4 ">
    <h3 style="font-family: Geneva, ">Food Ordering System
        </h3><p style="font-family: Georgia">Your Personal Ordering Cart
        </p><h5 style="text-align:center;">_ _ _</h5>
      </div>

      <div class="container-fluid p-5">
        <p style="color: gray;">
            Food Application to order food online where the user has the option to search and
             select nearby restaurants and order.
              <div class="row">
                <div class="col-sm-6 ">
            Features  for the Restaurant Owners<br>
            
           1. Create your own menu list<br>
           2. Receive orders  <br>    
          3. Set your area limit for deliveries<br>
             4. Manage different payment modes, invoices, order history, etc.<br>
        5.  Features for the users on the Mobile app<br>
        6. Add your selection to cart<br>
       7. Place online orders<br>
       8.  Make payments or check order histories<br>
        9.  Access the customer support option for concerns<br>
        
        </div>
            
            <div class="col-sm-6">
            
            Features of App Admin<br>
            
           1. Creating Restaurant owners accounts<br>
           2. Creating and managing the Food Categories<br>
        3. Check Reports of Order History transactions, etc<br>
        4. View Transaction Reports Restaurant wise.<br></div>
        </div></p></div>
<!--end-->
{% endblock %}




