{% extends "website/layout.html" %}

{% block body %}

<!-- first bar-->

<div class="container-fluid text-center p-4  bg-dark text-light">
    <h3 style="font-weight: bold;">Join App (Social Network)</h3></div>
    <div class="container-fluid text-center pb-3 bg-dark text-light">
    <h6 style="color:gray;text-align: center;padding-bottom: 10px;"> Home /
    <font color="green">Our Products</font>/<font style="color:green;">Join App</font></h6>
  </div><br>

  <!--second-->
  <div class="container-fluid text-center p-4 ">
    <h3 style="font-family: Geneva, ">All About Join App (Social Network)
        
        
        </h3><p style="font-family: Georgia">Get Connected To Many
        </p><h5 style="text-align:center;">_ _ _</h5>
      </div>

      <div class="container-fluid p-5">
        <p style="color: gray;">Get Connected To Many
            Join App(Android) allows users to connect with new people with the same passion, hobby or 
            profession. At times when the users are at a new place and feel like finding like-minded 
            people, this app really helps. Users simply need to register with the JoinApp and start
             searching for like-minded people nearby. Users can also challenge their networks in the app, to
              perform some activity.   <div class="row">
                <div class="col-sm-6 ">
            Features Of Admin<br>
            1.  The admin can manage different professions or hobbies.<br>
           2.  Check all the users’ challenges and revert to them<br>
         3. Create SMS invites<br>
            4.  Share and receive notifications.</div>
            
            <div class="col-sm-6">
            
            Features for  App users<br>
            
           1. Choose up to 5 hobbies or professions.<br>
           2. Share text messages in their chat box<br>
           3. Challenge other users of the application<br>
         4. Create a group to add people with similar interests.</div>
        </div></p></div>
<!--end-->
{% endblock %}




