{% extends "website/layout.html" %}

{% block body %}

<!-- first bar-->

<div class="container-fluid text-center p-4  bg-dark text-light">
    <h3 style="font-weight: bold;">Manufacturer Software</h3></div>
    <div class="container-fluid text-center pb-3 bg-dark text-light">
    <h6 style="color:gray;text-align: center;padding-bottom: 10px;"> Home /
    <font color="green">Our Products</font>/<font style="color:green;">Manufacturer Software</font></h6>
  </div><br>

  <!--second-->
  <div class="container-fluid text-center p-4 ">
    <h3 style="font-family: Geneva, ">All About Manufacturer Software(Website)
        
        </h3><p style="font-family: Georgia"> Everything About Manufacturing
        </p><h5 style="text-align:center;">_ _ _</h5>
      </div>

      <div class="container-fluid p-5">
        <p style="color: gray;">
          Manufacturing software, also known as MES or MOM software, is a crucial tool for modern industrial 
          operations. It facilitates efficient and organized production processes, from sourcing raw materials
           to delivering the finished products. Key functions include production scheduling, quality control, 
           inventory management, and machine monitoring, all of which help companies enhance productivity, reduce 
           costs, and maintain consistent product quality. With the automation and digitization capabilities it 
           offers, manufacturing software 
          is essential for businesses aiming to stay competitive in today's rapidly evolving industrial landscape.  <div class="row">
                <div class="col-sm-6 ">
            Features Of Admin<br><br>
           
            <p style="color: gray;">1. Creating and updating categories, products, customer list, etc.<br>
            2. Set up discounts for the products<br>
         3. View and manage orders<br></p>
           </div>
            
            <div class="col-sm-6">
            
            Features of the Seller Panel<br><br>
            
            <p style="color: gray;">1. Create a seller account<br>
            2. View and manage product catalogues adding your own pricing and discounts<br>
         3. Place orders and check order history and status.<br></p></div>
        </div></p></div>
<!--end-->
{% endblock %}




