{% extends "website/layout.html" %}

{% block body %}

<!-- first bar-->

<div class="container-fluid text-center p-4  bg-dark text-light">
    <h3 style="font-weight: bold;">Portal Development</h3></div>
    <div class="container-fluid text-center pb-3 bg-dark text-light">
    <h6 style="color:gray;text-align: center;padding-bottom: 10px;"> Home /
    <font color="gray"> Website Design and Development</font> / <font style="color:green;"> Portal Development</font></h6>
  </div><br>

  <!--second-->
  <div class="container-fluid text-center p-4 ">
    <h3 style="font-family: Geneva, ">Portal Development</h3><p style="font-family: Georgia">
      Your Gateway to the Digital World.</p><h5 style="text-align:center;">_ _ _</h5>
      </div>

      <div class="container-fluid p-5">
        <p style="color: gray;">A portals website is an online platform designed to serve as a gateway 
          or centralized access point to a wide range of information, services, or resources. Portals are
           typically organized to provide users with a streamlined and efficient way to access specific content, 
           applications, or tools. They often feature personalized dashboards, allowing users to customize their
            experience and access relevant information quickly. Portals can vary widely in their purpose and scope,
             from business intranets that connect employees to internal resources, to public portals offering news,
              email, and a variety of online services. These websites are designed to enhance user experience by
               simplifying navigation, aggregating content, and providing a convenient starting point for
           accessing the digital world, making them valuable tools for both individuals and organizations.</p></div>
<!--end-->
{% endblock %}




