{% extends "website/layout.html" %}

{% block body %}

<!-- first bar-->

<div class="container-fluid text-center p-4  bg-dark text-light">
    <h3 style="font-weight: bold;">Corporate Stationery Design</h3></div>
    <div class="container-fluid text-center pb-3 bg-dark text-light">
    <h6 style="color:gray;text-align: center;padding-bottom: 10px;"> Home /
    <font color="gray"> Graphic Design And Branding</font> / <font style="color:green;"> Corporate Stationery Design</font></h6>
  </div><br>

  <!--second-->
  <div class="container-fluid text-center p-4 ">
    <h3 style="font-family: Geneva, ">Corporate Stationery Design</h3><p style="font-family: Georgia">
      Elevating Your Brand with Every Impression</p><h5 style="text-align:center;">_ _ _</h5>
      </div>

      <div class="container-fluid p-5">
        <p style="color: gray;">Corporate stationery design involves creating a cohesive and visually appealing 
          set of printed materials that represent a company's brand identity and facilitate communication with 
          clients, partners, and the public. These materials typically include business cards, letterheads, 
          envelopes, notepads, and other essential paper-based items. 
          The design of corporate stationery is critical for establishing a professional and consistent brand image.</p></div>
<!--end-->

{% endblock %}




