{% extends "website/layout.html" %}

{% block body %}

<!-- first bar-->

<div class="container-fluid text-center p-4  bg-dark text-light">
    <h3 style="font-weight: bold;">Tally Customisation</h3></div>
    <div class="container-fluid text-center pb-3 bg-dark text-light">
    <h6 style="color:gray;text-align: center;padding-bottom: 10px;"> Home /
    <font color="green">Application And Software Development</font>/<font style="color:green;">
        Tally Customisation</font></h6>
  </div><br>

  <!--second-->
  <div class="container-fluid text-center p-4 ">
    <h3 style="font-family: Geneva, ">Tally Customisation</h3><p style="font-family: Georgia">
        Do More With Online</p><h5 style="text-align:center;">_ _ _</h5>
      </div>

      <div class="container-fluid p-4">
        <p style="color: gray;">Tally Solutions is one of the important sections of a business when it
             comes to recording of payments and transactions. What could be better if we had customised 
             Tally software exactly as per our business structure? Do you feel the need a customised 
             tally structure for your business too? If yes, Web Solutions India has got you covered!

            Now enjoy customisation in your invoice generations, voucher formats, ready reports or even 
            as many fields you want in the masters and transactions. Enjoy security control at field 
            level and development of many more functionalities in your tally software.
            
            Web Solutions India closely interacts with its business clients, interprets their business 
            functions, specific requirement, processes and then working on the customisations process. 
            Get it all done by the expert team sitting out there all ready to help you with the best of 
            their outputs!</p>
            </div>
<!--end-->
{% endblock %}

