{% extends "website/layout.html" %}

{% block body %}

<!-- first bar-->

<div class="container-fluid text-center p-4  bg-dark text-light">
    <h3 style="font-weight: bold;">Fleet Management Software</h3></div>
    <div class="container-fluid text-center pb-3 bg-dark text-light">
    <h6 style="color:gray;text-align: center;padding-bottom: 10px;"> Home /
    <font color="green">Our Products</font>/<font style="color:green;">Vehicle And Fleet Management Software</font></h6>
  </div><br>

  <!--second-->
  <div class="container-fluid text-center p-4 ">
    <h3 style="font-family: Geneva, ">All About Vehicle And Fleet Management Software
        
        </h3><p style="font-family: Georgia">Uncover Your Fleet's True Potential.
        </p><h5 style="text-align:center;">_ _ _</h5>
      </div>

      <div class="container-fluid p-5">
        <p style="color: gray;">Uncover Your Fleet's True Potential.
            Fleet Management is a web-based and app-based service for the transport companies. It provides facilities like maintaining the records of customers, drivers, trucks, trailers, payload, trips and records of the goods dispatches, all combined in a single application. This service is charged on a monthly basis and provides 2 accounts to the clients with complete admin rights. The admin adds the drivers with a unique user name and password. These registered drivers have access to the information as to how much payload needs to be hauled. They can also find out the payment details, whether paid or pending and identify how much they have travelled
            <div class="row">
                <div class="col-sm-6 ">
            Features Of Admin<br><br>
            <p style="color: gray;">1. Create credentials and add truck drivers and their details<br>
           2. Upload the documents of the drivers such as Inspection Sticker expiration, Licence
            plate expiration, etc.<br>
         3. Add brokers list, 3rd party logistics, shippers/consignees, payloads and manage them.<br>
           4. Assign the drivers or a team with a vehicle.</p></div>
            
            <div class="col-sm-6">
            
            Features of the Drivers account<br><br>
            <p style="color: gray;">1. Upload their expense documents<br>
          2. Identify their tasks allotted, etc.<br>
            Request A Free Demo An</p></div>
        </div></p></div>
<!--end-->
{% endblock %}




