{% extends "website/layout.html" %}

{% block body %}

<!-- first bar-->

<div class="container-fluid text-center p-4  bg-dark text-light">
    <h3 style="font-weight: bold;">Web Application Development</h3></div>
    <div class="container-fluid text-center pb-3 bg-dark text-light">
    <h6 style="color:gray;text-align: center;padding-bottom: 10px;"> Home /
    <font color="gray">Applications and Software Development
    </font> / <font style="color:green;"> Web Application Development</font></h6>
  </div><br>

  <!--second-->
  <div class="container-fluid text-center p-4 ">
    <h3 style="font-family: Geneva, ">Web App Design And Development</h3><p style="font-family: Georgia">
      Shaping Tomorrow's Digital Solutions Today.</p><h5 style="text-align:center;">_ _ _</h5>
      </div>

      <div class="container-fluid p-5">
        <p style="color: gray;">Web app design and development is the art and science of creating dynamic,
           interactive, and user-friendly applications that operate within web browsers. It involves a multifaceted
            process that encompasses both the visual design and the underlying functionality of web-based software.
             Design elements focus on creating an intuitive, aesthetically pleasing user interface (UI) that enhances
              the user experience. Development, on the other hand, deals with the programming, coding, and database
               integration
           necessary to bring the web app to life, ensuring its functionality, responsiveness, and security.</p></div>
<!--end-->
{% endblock %}




