{% extends "website/layout.html" %}

{% block body %}

<!-- first bar-->

<div class="container-fluid text-center p-4  bg-dark text-light">
    <h3 style="font-weight: bold;">Window Software Development</h3></div>
    <div class="container-fluid text-center pb-3 bg-dark text-light">
    <h6 style="color:gray;text-align: center;padding-bottom: 10px;"> Home /
    <font color="gray"> Applications and Software Development</font> / <font style="color:green;"> 
        Window Software Development</font></h6>
  </div><br>

  <!--second-->
  <div class="container-fluid text-center p-4 ">
    <h3 style="font-family: Geneva, ">Windows Software</h3><p style="font-family: Georgia">
       Do More With Online</p><h5 style="text-align:center;">_ _ _</h5>
      </div>

      <div class="container-fluid p-5">
        <p style="color: gray;">Microsoft is one of the simplest, secure, and easy to understand 
            operating systems in the market. With huge support on the desktops, they also have a part of
             their user base on the smartphones and tablets. We have therefore got you covered with app 
             development for the devices with Windows operating system.

            Web Solutions India has an amazing team of experienced and talented developers dedicated 
            solely towards the Windows Mobile application development. We hold a great history of 
            developing applications for different platforms in different niches. You will enjoy a
             professional process followed by the team to build your Windows supported platform that
              innovative, and cost-effective at the same time. Most importantly, our Windows development
               software is built keeping the ultimate users in mind to create amazing user experiences.</p></div>
<!--end-->
{% endblock %}




